<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Add N number Off elements" verbose="2" preserve-order="true">


     <classes>
         <class name="herokuappUITestAutomation"></class>
     </classes>
    </test></suite>